/* General Variables */
$primary-color: #007bff;
$secondary-color: #758266;
$hover-color: #555;
$light-gray: #FAFAFA;
$dark-gray: #2E2E2E;
$border-color: #444;
$bg-color: #fafafa;
$overlay-color: rgba(0, 0, 0, 0.5);
$font-family: 'Futura-PT', sans-serif;
$font-size-base: 1rem;

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
video {
  max-width: 100%;
  display: inline-block;
}

body {
  line-height: 1.6;
  font-family: $font-family;
  background-color: $light-gray;
  color: $dark-gray;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Mixins */
@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin responsive($max-width) {
  @media (max-width: #{$max-width}) {
    @content;
  }
}

/* Navigation Bar */
nav {
  background-color: $light-gray;
  color: $dark-gray;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: sticky;
  top: 0;

}

.nav-container {
  @include flex-center(space-between);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;

  li {
    position: relative;

    a {
      text-decoration: none;
      color: $dark-gray;
      padding: 5px 10px;

      &:hover {
        background-color: $hover-color;
        border-radius: 5px;
      }
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 10px 0;
      border-radius: 5px;

      li {
        width: 150px;
        text-align: left;

        a {
          display: block;
          padding: 10px;
          color: $dark-gray;
          text-decoration: none;

          &:hover {
            background-color: $light-gray;
            opacity: 50%;
          }
        }
      }

      &:hover {
        display: block;
      }
    }
  }
}

/* Responsive Container */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;

  .item {
    flex: 1 1 calc(33.333% - 10px);
    background: $primary-color;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;

    @include responsive(768px) {
      flex: 1 1 calc(50% - 10px);
    }

    @include responsive(480px) {
      flex: 1 1 100%;
    }
  }
}

/* Footer Styling */
footer {
  background-color: #fff;
  color: $dark-gray;
  padding: 20px 0;
  margin-top: 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  border-top: 2px solid $border-color;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: $border-color;
  }

  &::before {
    left: 33.33%;
  }

  &::after {
    left: 66.66%;
  }

  .footer-column {
    @include flex-center(column);
    padding: 20px;
    text-align: center;

    & + .footer-column {
      border-left: 2px solid $border-color;
    }
  }
}

/* Responsive Design for Footer */
@include responsive(768px) {
  .footer-container {
    grid-template-columns: 1fr;

    &::before,
    &::after {
      display: none;
    }

    .footer-column {
      border-bottom: 2px solid $border-color;
    }

    .footer-column:last-child {
      border-bottom: none;
    }
  }
}

/* Typography */
h1, h2, h3, p, .small-text {
  color: $dark-gray;
  margin: 10px 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

.small-text {
  font-size: 14px;
  line-height: 1.5;
}

/* Landing Page */
.landing {
  text-align: center;
  background-color: #aa4465;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
}

/* Portfolio */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem;

  .photo {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $overlay-color;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;

      span {
        color: #fafafa;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &:hover img {
      transform: scale(1.1);
    }

    &:hover .overlay {
      opacity: 1;
    }
  }
}

/* Responsive Design for Portfolio */
@include responsive(1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@include responsive(768px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

/* Journal */
.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../imagenes/journal.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 5rem;
    visibility: hidden;

    &:hover {
      visibility: visible;
    }
  }
}

/* Entries */

.entry {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation for the .fade-in class */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 1; /* Fully visible */
  animation: fadeIn 0.8s ease-out; /* Smooth fade-in effect */
}

.entry {
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.diary-entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;

  .entry {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ease, opacity 0.6s ease;
    width: 95%;
    max-width: 1400px;
    margin: 10px 0;

    // Fade-in animation
    opacity: 0;
    transform: translateY(20px);

    &.fade-in {
      opacity: 1;
      transform: translateY(0);
    }

    &:hover {
      transform: scale(1.02);
    }

    img:first-child {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    .info {
      display: grid;
      grid-template-rows: auto auto auto auto;
      gap: 10px;
      align-items: start;

      .author-date {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: left;

        .author {
          font-weight: bold;
        }

        .date {
          color: #555;
          font-size: 0.9rem;
        }
      }

      .title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        width: 100%;
      }

      .note {
        color: #333;
        font-size: 0.95rem;
        text-align: left;
        width: 100%;
      }

      .actions {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        text-align: center;
        margin-top: 10px;
        border-top: 1px solid #ddd;
        padding-top: 10px;
        gap: 25px;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }
      }
    }
  }
}

/* Responsive Design for Journal */
@include responsive(768px) {
  .banner {
    height: 300px;
  }

  .banner-text {
    font-size: 2rem;
  }
}

/* Banner Section */
.banner {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  
    &:hover {
      opacity: 1;
    }
  
    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      background: rgba(0, 0, 0, 0.5);
      padding: 10px 20px;
      border-radius: 5px;
      text-align: center;
      font-size: 5rem;
      visibility: hidden;
    }
  
    &:hover .banner-text {
      visibility: visible;
    }
  }
  
  /* Hero Section for Book */
  .hero {
    background: url('../imagenes/hero-image.jpg') no-repeat center center/cover;
    height: 60vh;
    position: relative;
  
    &:hover .hero-overlay {
      display: block;
    }
  
    &:focus-within .hero-overlay {
      display: block;
    }
  }
  
  .hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    display: none;
    text-align: center;
  }
  
  /* Journal Banner Style */
  .journal-banner {
    background-image: url('../imagenes/journal.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  
    &:hover {
      opacity: 1;
    }
  
    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      background: rgba(0, 0, 0, 0.5);
      padding: 10px 20px;
      border-radius: 5px;
      text-align: center;
      font-size: 5rem;
      visibility: hidden;
    }
  
    &:hover .banner-text {
      visibility: visible;
    }
  }
  
  /* Common Styles for Both Banners */
  .banner, .journal-banner {
    display: block;
    width: 100%;
    height: 500px;
  }
  
  @media (max-width: 768px) {
    .banner-text, .hero-overlay {
      font-size: 2rem;
    }
  
    .hero {
      height: 40vh;
    }
  }
  
  @media (max-width: 480px) {
    .banner-text, .hero-overlay {
      font-size: 1.5rem;
    }
  
    .hero {
      height: 30vh;
    }
  }

// General styles for columns and rows
.content-row {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  opacity: 0; // Initially hidden, will be shown when in view
  transition: opacity 0.5s ease;
}

.column {
  width: 45%; // Adjust column width as needed
  opacity: 0; // Make elements initially invisible
  transform: translateX(0); // Reset initial transform value
  transition: opacity 0.5s ease, transform 0.5s ease; // Smooth transitions

  // Add specific styling for images inside image columns
  &.image-column img {
    width: 100%; // Full width images, adjust as necessary
    display: block;
    border-radius: 8px;
  }
}

// Book Animation

// Mixin for reusable hover effect
@mixin hover-animation {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: top left;  // This will make the image scale from the top-left corner

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
}

// Image Hover Styles
.image-column {
  position: relative;  // To prevent any flow issues
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    @include hover-animation;
  }
}

// Responsive Adjustments
@media (max-width: 768px) {
  .image-column img {
    &:hover {
      transform: scale(1.02); // Slightly reduced effect for smaller screens
    }
  }
}

@media (max-width: 480px) {
  .image-column img {
    &:hover {
      transform: none; // Disable hover animation for very small screens
    }
  }
}
