/* Error: Missing argument $styles.
 *     ,
 * 45  | @mixin responsive($max-width, $styles) {
 *     |        =============================== declaration
 * ... |
 * 133 |     @include responsive(768px) {
 *     |     ^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   style.scss 133:5  responsive()
 *   style.scss 133:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $styles.\a     \2577 \a 45  \2502  @mixin responsive($max-width, $styles) {\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 133 \2502      @include responsive(768px) {\a     \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   style.scss 133:5  responsive()\a   style.scss 133:5  root stylesheet";
}
